/org.eclipse.jdt.core.prefs.svn-base
/org.eclipse.m2e.core.prefs.svn-base
/org.eclipse.wst.common.component.svn-base
/org.eclipse.wst.common.project.facet.core.xml.svn-base
/org.eclipse.wst.jsdt.ui.superType.container.svn-base
/org.eclipse.wst.jsdt.ui.superType.name.svn-base
/org.eclipse.wst.validation.prefs.svn-base
